@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Secular One", sans-serif;
}

.overlay {
  height: 100%;
  width: 100%;
  z-index: 5;
  background: rgba(35, 35, 35, 0.4);
  display: none;
}
.overlay.show {
  display: block;
}

.container {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(135deg, #2af598 0%, #009efd 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container header {
  height: 60px;
  width: 80%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  padding: 2rem 0;
  font-size: 2rem;
}
.container header .header-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.container header .header-wrapper .head-lead {
  flex: 1;
  color: #232323;
}
.container header .header-wrapper .toggle-sidebar {
  font-size: 4rem;
  cursor: pointer;
  color: #232323;
}
.container .app {
  height: max-content;
  width: 60%;
  margin: 0 auto;
  padding-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #232323;
}
.container .app-wrapper {
  background: rgba(243, 243, 243, 0.25);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  height: max-content;
  width: 60%;
  margin-top: 6rem;
  border-radius: 12px;
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 3px 22px rgba(4, 4, 4, 0.2);
}
.container .app-wrapper_content {
  width: 100%;
}
.container .app-wrapper_content p {
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
}
.container .app-wrapper .app-footer {
  padding: 4rem 0 1rem;
}
.container .app-wrapper .app-footer .btn_save,
.container .app-wrapper .app-footer .btn_gen {
  padding: 0.75rem 1.25rem;
  font-size: 1.15rem;
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 1px 3px 12px rgba(4, 4, 4, 0.2);
  cursor: pointer;
  transition: transform 0.4s ease;
}
.container .app-wrapper .app-footer .btn_save {
  background: #009efd;
  margin-right: 1rem;
  color: #f3f3f3;
}
.container .app-wrapper .app-footer .btn_save:hover {
  transform: scale(1.05);
}
.container .app-wrapper .app-footer .btn_gen {
  background: #2af598;
  color: #232323;
}
.container .app-wrapper .app-footer .btn_gen:hover {
  transform: scale(0.95);
}
.container .joke-title_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #009efd;
  height: 400px;
  width: 600px;
  border-radius: 12px;
  padding: 2rem;
  transition: all 0.2s ease;
  display: block;
}
.container .joke-title_modal.show {
  transform: translate(-50%, -50%) scale(1);
}
.container .joke-title_modal .close-modal {
  font-size: 3rem;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem 2rem;
  cursor: pointer;
}
.container .joke-title_modal .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container .joke-title_modal .wrapper .modal-header {
  width: 70%;
  text-align: center;
  font-weight: 400;
  margin-top: 4rem;
}
.container .joke-title_modal .wrapper .modal-header h2 {
  font-size: 2rem;
}
.container .joke-title_modal .wrapper form {
  margin-top: 2rem;
}
.container .joke-title_modal .wrapper form input {
  padding: 5px 10px;
  outline: none;
  border: none;
  font-size: 1.5rem;
  border-radius: 12px;
  border: 4px solid #2af598;
  background: rgba(42, 245, 152, 0.44);
  width: 400px;
}
.container .joke-title_modal .wrapper form .modal-save_btn {
  padding: 0.75rem 1.25rem;
  font-size: 1.15rem;
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 1px 3px 12px rgba(4, 4, 4, 0.2);
  cursor: pointer;
  display: block;
  margin-top: 2rem;
  width: 100px;
  background: #232323;
  color: #f3f3f3;
  transition: transform 0.4s ease;
}
.container .joke-title_modal .wrapper form .modal-save_btn:hover {
  transform: scale(1.05);
}
.container .sidebar-fav {
  position: fixed;
  height: 100%;
  width: 40%;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(243, 243, 243, 0.42);
  backdrop-filter: blur(20px) saturate(100%);
  -webkit-backdrop-filter: blur(20px) saturate(100%);
  box-shadow: -4px 0px 12px rgba(4, 4, 4, 0.2);
  transform: translateX(2000px);
  transition: transform 0.4s ease;
  overflow-y: scroll;
  overflow-x: hidden;
}
.container .sidebar-fav.active {
  transform: translateX(0px);
}
.container .sidebar-fav .close-sidebar {
  padding-top: 4rem;
  padding-left: 4rem;
  font-size: 4rem;
  cursor: pointer;
}
.container .sidebar-fav .sidebar-content {
  margin-top: 0rem;
}
.container .sidebar-fav .sidebar-content_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 4rem 6rem;
  position: relative;
}
.container .sidebar-fav .sidebar-content_header h2 {
  flex: 1;
  text-align: center;
  font-size: 4rem;
}
.container .sidebar-fav .sidebar-content_header .menu {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(-50px);
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.container .sidebar-fav .sidebar-content_header .menu .selected-trash {
  color: tomato;
  font-size: 2rem;
  width: 60px;
  height: 60px;
  margin-top: 1rem;
  border: 2px dotted tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: rgba(255, 99, 71, 0.22);
  transform: scale(0);
  transition: transform 0.4s ease, border 0.1s ease;
  cursor: pointer;
}
.container .sidebar-fav .sidebar-content_header .menu .selected-trash.active {
  transform: scale(1);
}
.container .sidebar-fav .sidebar-content_header .menu .selected-trash.active:hover {
  transform: scale(1.05);
  border: 3px solid tomato;
}
.container .sidebar-fav .sidebar-content_header .menu-toggle {
  cursor: pointer;
  font-size: 2rem;
  background: rgba(243, 243, 243, 0.25);
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease;
}
.container .sidebar-fav .sidebar-content_header .menu-toggle:hover {
  background: rgba(243, 243, 243, 0.45);
}
.container .sidebar-fav .sidebar-content_header .menu-options {
  background: rgba(243, 243, 243, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  overflow: hidden;
  width: 250px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-220px, 60px) scale(0);
  border-radius: 12px;
  transform-origin: top right;
  transition: transform 0.25s ease;
}
.container .sidebar-fav .sidebar-content_header .menu-options.show {
  transform: translate(-220px, 60px) scale(1);
}
.container .sidebar-fav .sidebar-content_header .menu-options_list {
  width: 100%;
  list-style: none;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .sidebar-fav .sidebar-content_header .menu-options_list li {
  padding: 0.75rem 1rem;
  width: 100%;
  cursor: pointer;
}
.container .sidebar-fav .sidebar-content_header .menu-options_list li:hover {
  background: rgba(243, 243, 243, 0.25);
}
.container .sidebar-fav .sidebar-content_header .menu-options_list li:not(:last-child) {
  border-bottom: 1px solid #f3f3f3;
}
.container .sidebar-fav .sidebar-content_header .menu-options_list li:first-child {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.container .sidebar-fav .sidebar-content_header .menu-options_list li:last-child {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.container .sidebar-fav .sidebar-content .fav-jokes {
  padding: 2rem 0rem 4rem 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem 2rem;
  transition: all 0.4s ease;
}
.container .sidebar-fav .sidebar-content .fav-jokes .joke-card {
  height: 150px;
  width: 300px;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 1px 2px 15px rgba(4, 4, 4, 0.18);
  cursor: pointer;
  transition: all 0.4s ease;
}
.container .sidebar-fav .sidebar-content .fav-jokes .joke-card:nth-child(odd) {
  background: rgba(42, 245, 152, 0.22);
  border: 4px solid #2af598;
}
.container .sidebar-fav .sidebar-content .fav-jokes .joke-card:nth-child(even) {
  background: rgba(0, 158, 253, 0.22);
  border: 4px solid #009efd;
}
.container .sidebar-fav .sidebar-content .fav-jokes .joke-card:hover {
  transform: scale(1.05);
}
.container .sidebar-fav .sidebar-content .fav-jokes .joke-card .joke-title {
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 1rem;
  pointer-events: none;
}
.container .sidebar-fav .sidebar-content .fav-jokes .joke-card .joke-body {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 4px;
  pointer-events: none;
}
.container .sidebar-fav .sidebar-content .fav-jokes.select-mode {
  transition: all 0.4s ease;
}
.container .sidebar-fav .sidebar-content .fav-jokes.select-mode .joke-card {
  border: 2px dotted tomato;
  background: rgba(255, 99, 71, 0.22);
  transition: transform 0.4s ease, border 0.1s linear, background 0.4s ease;
}
.container .sidebar-fav .sidebar-content .fav-jokes.select-mode .joke-card.selected {
  border: 4px solid tomato;
  background: rgba(255, 99, 71, 0.44);
}

/*# sourceMappingURL=styles.css.map */
