@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

$main-gradient: linear-gradient(135deg, #2af598 0%, #009efd 100%);

$primary-color: #2af598;
$secondary-color: #009efd;
$black: #232323;
$white: #f3f3f3;
$gray: #cecece;

$font-secular: 'Secular One', sans-serif;
